
.nav-item{
    margin-left: 25px!important;
}
.nav-item{
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.cat{
    width: 100%;
    transition: width .2s;
}
.Clients{
    background-image: url(https://deothemes.com/envato/zenna/html/img/testimonials/testimonial_bg.jpg);
    

    
}
.client_bg{
    background-color: black;
    opacity: 0.8;

}
.flex-column>li{
    color: grey!important;
}